---
import BaseLayout from "../layouts/BaseLayout.astro";
const blogName = "My Dev Journey";
const author = "Hicham";
const currentYear = new Date().getFullYear();
---

<BaseLayout>
  <h1>Welcome to {blogName}</h1>
  <p>Written by {author}</p>
  <footer>© {currentYear}</footer>
</BaseLayout>
